#DataMart {
    color: brown;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    line-height: 2;
    letter-spacing: 2px;
    text-shadow: 0px 0px 4px #f99;
}

#dataWarehousing {
    color: green;
}

#columna{
    color: blue;
}

h1::before, h1::after{
    content: "!";
    color: blue;
    font-family: webdings;
}