* {
    box-sizing: border-box;
}

.navbar {
    background-color: #F8B571;
    width: 100%;
    height: 15%;
    padding: 10px 20px;
    position: fixed;
    margin-bottom: 10px;
    top: 0;
}

.navbar__logo {
    width: 100px;
    padding-top: -20px;
    float: left;
}

.navbar__title {
    text-align: center;
    padding-top: 20px;
    margin: 0;
}

.main-container {
    margin: 15% auto;
    width: 100%;
    max-width: 1200px;
}

.form-container {
    margin: 0 auto;
    width: 80%;
}

input {
    text-align: center;
    width: 50%;
}


body {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2.titulo_2 {
    margin-top: 1px;
}

header.barra {
    width: 100%;
}

/*.caja {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 50px;
    width: 400px;
    height: auto;
    padding: 15px;
}*/

/*@media (min-width: 768px){
    .navbar{
        background-color: #000000;
        padding: 10px 50px;
    }
}*/