.footer {
    background-color: #333; /* Cambia esto según tu diseño */
    color:#F8B571;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 0px;
    padding: 50px 0;
}

.footer__socials {
    list-style: none;
    padding: 0;
}

.footer__socials li {
    display: inline;
    margin: 0 10px;
}

.footer__socials a {
    color:#F8B571; /* Cambia esto según tu diseño */
    text-decoration: none;
}
