div .detalle_pelicula_titulo {
    text-align: center;
    color: #F8B571;
    font-size: 24px;
    margin-top: 200px;
}

.detalle_pelicula {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.pelicula_contenido {
    border-radius: 100px;
    padding: 50px;
    display: block;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    border: 6px solid #F8B571;
    margin-top: 220px;
}

.texto_pelicula {
    max-width: 500px;
    margin-left: 20px;
}

.imagen_pelicula {
    width: 200px;
    height: auto;
    border-radius: 10px;
    float: left;
    margin-left: 30px;
}

.pelicula_contenido h3 {
    text-align: center;
    margin-top: 0px;
    font-size: 30px;
    margin: 0px;
}

.pelicula_contenido h4 {
    margin: 0px;
    text-align: center;
    font-size: 20px;
}

.pelicula_contenido p {
    font-size: 14px;
    margin: 10px 0 0 0;
}

article div .parrafo_precio {
    text-align: center;
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 50px;
}



.label-cantidad {
    background-color: #F8B571;
    border-radius: 18px;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 10px;
}

input {
    width: 50%;
    border: 2px solid #F8B571;
    border-radius: 18px;
    padding-left: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0px;
}

button {
    display: block;
    border: none;
    background-color: black;
    border-radius: 30px;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    margin-left: 10px;
}

.navbar__buttons__ca a{
    text-decoration: none;
    color: white;
    font-weight: 900;
}

.navbar__buttons__ac a{
    text-decoration: none;
    color: black;
    font-weight: 900;
}

.navbar__buttons__ac {
    background-color: #F8B571;
}

#cantidad_id {
    margin-top: 20px;
    margin-left: 10px;
}

@media (min-width: 768px) and (max-width: 992px) {
    div .detalle_pelicula_titulo {
        text-align: center;
        color: #F8B571;
        font-size: 24px;
        margin-top: 200px;
    }
    
    .detalle_pelicula {
        display: flex;
        justify-content: center;
        padding: 20px;
    }
    
    .pelicula_contenido {
        border-radius: 100px;
        padding: 50px;
        display: block;
        max-width: 1000px;
        border: 6px solid #F8B571;
        margin-top: 300px;
    }
    
    .texto_pelicula {
        max-width: 500px;
        margin-left: 20px;
    }
    
    .imagen_pelicula {
        width: 200px;
        height: auto;
        border-radius: 10px;
        float: left;
        margin-right: 60px;
        margin-left: 0px;
    }
    
    .pelicula_contenido h3 {
        text-align: center;
        margin-top: 0px;
        font-size: 50px;
        margin: 0px;
    }
    
    .pelicula_contenido h4 {
        margin: 0px;
        text-align: center;
        font-size: 20px;
    }
    
    .pelicula_contenido p {
        font-size: 14px;
        margin: 10px 0 0 0;
    }
    
    article div .parrafo_precio {
        text-align: center;
        font-size: 25px;
        font-weight: 900;
        margin-bottom: 50px;
    }
    
    
    .label-cantidad {
        background-color: #F8B571;
        border-radius: 18px;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 0px;
    }
    
    input {
        width: 24%;
        border: 2px solid #F8B571;
        border-radius: 18px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 0px;
    }
    
    button {
        display: inline;
        justify-content: right;
        border: none;
        background-color: black;
        border-radius: 30px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 10px;
        margin-left: 0px;
    }
    
    .navbar__buttons__ca a{
        text-decoration: none;
        color: white;
        font-weight: 900;
    }
    
    .navbar__buttons__ac a{
        text-decoration: none;
        color: black;
        font-weight: 900;
    }
    
    .navbar__buttons__ac {
        background-color: #F8B571;
    }
    
}
@media (min-width: 992px) {
    div .detalle_pelicula_titulo {
        text-align: center;
        color: #F8B571;
        font-size: 24px;
        margin-top: 200px;
    }
    
    .detalle_pelicula {
        display: flex;
        justify-content: center;
        padding: 20px;
    }
    
    .pelicula_contenido {
        border-radius: 100px;
        padding: 50px;
        display: block;
        align-items: center;
        justify-content: space-between;
        max-width: 1000px;
        border: 6px solid #F8B571;
        margin-top: 120px;
    }
    
    .texto_pelicula {
        max-width: 500px;
        margin-left: 20px;
    }
    
    .imagen_pelicula {
        width: 200px;
        height: auto;
        border-radius: 10px;
        float: left;
        margin-right: 60px;
        margin-left: 0px;
    }
    
    .pelicula_contenido h3 {
        text-align: center;
        margin-top: 0px;
        font-size: 50px;
        margin: 0px;
    }
    
    .pelicula_contenido h4 {
        margin: 0px;
        text-align: center;
        font-size: 20px;
    }
    
    .pelicula_contenido p {
        font-size: 14px;
        margin: 10px 0 0 0;
    }
    
    article div .parrafo_precio {
        text-align: center;
        font-size: 25px;
        font-weight: 900;
        margin-bottom: 50px;
    }
    
    
    .label-cantidad {
        background-color: #F8B571;
        border-radius: 18px;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-left: 0px;
    }
    
    input {
        width: 24%;
        border: 2px solid #F8B571;
        border-radius: 18px;
        padding-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-top: 0px;
    }
    
    button {
        display: inline;
        justify-content: right;
        border: none;
        background-color: black;
        border-radius: 30px;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: 10px;
        margin-left: 0px;
    }
    
    .navbar__buttons__ca a{
        text-decoration: none;
        color: white;
        font-weight: 900;
    }
    
    .navbar__buttons__ac a{
        text-decoration: none;
        color: black;
        font-weight: 900;
    }
    
    .navbar__buttons__ac {
        background-color: #F8B571;
    }

    #cantidad_id {
        margin-top: 0px;
        margin-left: 0px;
    }
    
}