.banner {
    width: 100%;
    height: 100%;
    margin: 0px;
    position: relative;
}

figure .imagen_banner {
    width: 100%;
}

@media (min-width: 992px){
    .banner {
    width: 100%;
    height: 100%;
    margin: 0px;
    position: relative;
    }

    figure .imagen_banner {
    width: auto;
    }
}
