h2 {
    text-align: center;
    color: #F8B571;
    font-size: 24px;
    margin-top: 300px;
}

article {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.listas_peliculas {
    display: block;
    justify-content: center; /* Centra los artículos horizontalmente */
    gap: 20px; /* Espacio entre las películas */
}

.pelicula img {
    width: 60%; /* Ajusta la imagen dentro del artículo */
    height: auto;
    border-radius: 10px; /* Bordes suaves para la imagen */
}

.pelicula {
    background-color: #facd9f; /* Color de fondo de los artículos */
    border: 2px solid black; /* Borde negro */
    border-radius: 20px; /* Hacerlo circular */
    width: 200px; /* Ajusta según el tamaño deseado */
    height: 250px; /* Ajusta según el tamaño deseado */
    text-align: center;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pelicula h3 {
    margin: 10px 0 5px 0;
    font-size: 24px;
}

.pelicula p {
    font-size: 22px;
    margin: 0;
}

article .pelicula__titulo__2 {
    margin: 10px 0 5px 0;
    font-size: 18px;
}

article .pelicula__titulo__3 {
    margin: 10px 0 5px 0;
    font-size: 18px;
}

article .imagen_3 {
    width: 67%;
    height: auto;
}

/*---------------------------------------------*/

div .detalle_pelicula_titulo {
    text-align: center;
    color: #F8B571;
    font-size: 24px;
    margin-top: 200px;
}


.detalle_pelicula {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.pelicula_contenido {
    border-radius: 100px;
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    border: 6px solid #F8B571;
}

.texto_pelicula {
    max-width: 500px;
}

.imagen_pelicula {
    width: 200px;
    height: auto;
    border-radius: 10px;
}

.pelicula_contenido h3 {
    text-align: center;
    margin-top: 0px;
    font-size: 50px;
    margin: 0px;
}

.pelicula_contenido h4 {
    margin: 0px;
    text-align: center;
    font-size: 20px;
}

.pelicula_contenido p {
    font-size: 14px;
    margin: 10px 0 0 0;
}

@media (min-width: 768px) and (max-width: 991px) {
    h2 {
        text-align: center;
        color: #F8B571;
        font-size: 24px;
        margin-top: 300px;
    }
    
    article {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 0px;
    }
    
    .listas_peliculas {
        display: flex;
        justify-content: center; /* Centra los artículos horizontalmente */
        gap: 0px; /* Espacio entre las películas */
    }
    
    .pelicula img {
        width: 60%; /* Ajusta la imagen dentro del artículo */
        height: auto;
        border-radius: 10px; /* Bordes suaves para la imagen */
    }
    
    .pelicula {
        background-color: #facd9f; /* Color de fondo de los artículos */
        border: 2px solid black; /* Borde negro */
        border-radius: 20px; /* Hacerlo circular */
        width: 200px; /* Ajusta según el tamaño deseado */
        height: 250px; /* Ajusta según el tamaño deseado */
        text-align: center;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .pelicula h3 {
        margin: 10px 0 5px 0;
        font-size: 24px;
    }
    
    .pelicula p {
        font-size: 22px;
        margin: 0;
    }
    
    article .pelicula__titulo__2 {
        margin: 10px 0 5px 0;
        font-size: 18px;
    }
    
    article .pelicula__titulo__3 {
        margin: 10px 0 5px 0;
        font-size: 18px;
    }
    
    article .imagen_3 {
        width: 67%;
        height: auto;
    }
    
    /*---------------------------------------------*/
    
    div .detalle_pelicula_titulo {
        text-align: center;
        color: #F8B571;
        font-size: 24px;
        margin-top: 200px;
    }
    
    
    .detalle_pelicula {
        display: flex;
        justify-content: center;
        padding: 20px;
    }
    
    .pelicula_contenido {
        border-radius: 100px;
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1000px;
        border: 6px solid #F8B571;
    }
    
    .texto_pelicula {
        max-width: 500px;
    }
    
    .imagen_pelicula {
        width: 200px;
        height: auto;
        border-radius: 10px;
    }
    
    .pelicula_contenido h3 {
        text-align: center;
        margin-top: 0px;
        font-size: 50px;
        margin: 0px;
    }
    
    .pelicula_contenido h4 {
        margin: 0px;
        text-align: center;
        font-size: 20px;
    }
    
    .pelicula_contenido p {
        font-size: 14px;
        margin: 10px 0 0 0;
    }
    
}

@media (min-width: 992px) {
    h2 {
        text-align: center;
        color: #F8B571;
        font-size: 24px;
        margin-top: 200px;
    }
    
    article {
        margin-left: 10px;
        margin-right: 10px;
        margin-bottom: 0px;
    }

    .listas_peliculas {
        display: flex;
        justify-content: center; /* Centra los artículos horizontalmente */
        gap: 0px; /* Espacio entre las películas */
        padding: 20px;
    }
    
    .pelicula img {
        width: 60%; /* Ajusta la imagen dentro del artículo */
        height: auto;
        border-radius: 10px; /* Bordes suaves para la imagen */
    }
    
    .pelicula {
        background-color: #facd9f; /* Color de fondo de los artículos */
        border: 2px solid black; /* Borde negro */
        border-radius: 20px; /* Hacerlo circular */
        width: 200px; /* Ajusta según el tamaño deseado */
        height: 250px; /* Ajusta según el tamaño deseado */
        text-align: center;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .pelicula h3 {
        margin: 10px 0 5px 0;
        font-size: 24px;
    }
    
    .pelicula p {
        font-size: 22px;
        margin: 0;
    }
    
    article .pelicula__titulo__2 {
        margin: 10px 0 5px 0;
        font-size: 18px;
    }
    
    article .pelicula__titulo__3 {
        margin: 10px 0 5px 0;
        font-size: 18px;
    }
    
    article .imagen_3 {
        width: 67%;
        height: auto;
    }
    
    /*---------------------------------------------*/
    
    div .detalle_pelicula_titulo {
        text-align: center;
        color: #F8B571;
        font-size: 24px;
        margin-top: 200px;
    }
    
    
    .detalle_pelicula {
        display: flex;
        justify-content: center;
        padding: 20px;
    }
    
    .pelicula_contenido {
        border-radius: 100px;
        padding: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        max-width: 1000px;
        border: 6px solid #F8B571;
    }
    
    .texto_pelicula {
        max-width: 500px;
    }
    
    .imagen_pelicula {
        width: 200px;
        height: auto;
        border-radius: 10px;
    }
    
    .pelicula_contenido h3 {
        text-align: center;
        margin-top: 0px;
        font-size: 50px;
        margin: 0px;
    }
    
    .pelicula_contenido h4 {
        margin: 0px;
        text-align: center;
        font-size: 20px;
    }
    
    .pelicula_contenido p {
        font-size: 14px;
        margin: 10px 0 0 0;
    }
}